// Colors
$mustard: #ab9e38;
$trollGreen: #026342;
$trollRed: #9c3934;
$hrGrey: #333333;
$sidebarGrey: #aaaaaa;
$blogGrey: #dddddd;

// Box layout variables
$standardMargin: 25px;

// Font and text variables
@font-face {
  font-family: BerlinSans;
  src: url("../resources/fonts/Berlin_Sans_FB_Regular.ttf");
}
