// Colors
$blogGrey: #dddddd;
$boringLink: #464eb4;
$darkGrey: #222222;
$errorRed: #e80a39;
$mediumGrey: #444444;
$mustard: #ab9e38;
$sidebarGrey: #aaaaaa;
$successGreen: #7cb47f;
$trollBrown: #787353;
$trollRed: #9c3934;
$validationErrorPink: #f2dede;
$validationSuccessGreen: #dff0d8;

// Box layout variables
$standardMargin: 25px;

// Font and text variables
@font-face {
  font-family: BerlinSans;
  src: url("../resources/fonts/Berlin_Sans_FB_Regular.ttf");
}
