// Colors
$blogGrey: #dddddd;
$boringLink: #0000f0;
$darkGrey: #333333;
$errorPink: #f2dede;
$mustard: #ab9e38;
$sidebarGrey: #aaaaaa;
$successGreen: #dff0d8;
$trollGreen: #026342;
$trollRed: #9c3934;

// Box layout variables
$standardMargin: 25px;

// Font and text variables
@font-face {
  font-family: BerlinSans;
  src: url("../resources/fonts/Berlin_Sans_FB_Regular.ttf");
}
