body {
  margin: 0px;
  padding: 0px;

  background-color: $mustard;

  font-family: "Arial";
}

h1 {
  margin: 0px;
  padding: 0px;

  text-align: center;
  font-family: BerlinSans;
  color: $trollRed;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 3em;
  letter-spacing: 1px;
}

h2 {
  margin: 0px;
  padding:5px;

  text-align: center;
  font-family: BerlinSans;
  color: $trollGreen;
  letter-spacing: 2px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  font-weight: bold;
}

hr {
  margin: 0px;
  height: 10px;

  border: 0px;
  background-color: $hrGrey;
}

p {
  margin: 0px;
  padding: 10px;
}
