.blogNavDiv {
  @include baseModule;

  padding: 15px;
  margin-left: auto;
  margin-right: $standardMargin;
  width: 14%;
  max-width: 250px;

  background-color: $mustard;

  text-align: center;
}

.blogList {
  padding: 0px;
  list-style-type: none;

  li {
    margin-top: 10px;
    margin-bottom: 10px;

    a {
      color: $darkRed;
      font-weight: bold;
    }

    a:hover {
      text-transform: uppercase;
    }
  }
}

.blogListTitle {
  padding: 0;
}

.blogListLocation {
  margin: 0;
  color: $mediumGrey;
  font-weight: 1000;
  font-size: .75em;
  padding: 0;
}

.seeMoreLink {
  color: $boringLink;
  text-decoration-line: none;
  display: none;
}
