@mixin baseModule {
  display: inline-block;
  vertical-align: top;
  margin-top: $standardMargin;
  margin-bottom: $standardMargin;
  border-radius: $standardBorderRadius;
}

.centerDiv {
  text-align: center;
}
