.carousel {
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  height: 100px;
  display: none;
}

.slideImage {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

  height: 100px;
}

.slick-dots {
  margin-bottom: $standardMargin;
}

.lightboxTrigger {
  cursor: zoom-in;
}
