.blogNavDiv {
  @include baseModule;

  padding: 15px;
  margin-left: auto;
  margin-right: $standardMargin;
  width: 14%;
  max-width: 225px;

  background-color: $mustard;

  text-align: center;
}

.blogList {
  padding: 0px;
  list-style-type: none;

  li {
    padding-top: 5px;
    padding-bottom: 5px;

    a {
      color: $trollRed;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      letter-spacing: 1px;
      text-decoration-line: none;
    }

    a:hover {
      text-transform: uppercase;
    }
  }
}

.blogListTitle {
  margin: 0;
  padding: 0;
}

.blogListLocation {
  margin: 0;
  color: black;
  font-size: .75em;
  padding: 0;
}

.seeMoreLink {
  color: $boringLink;
  text-decoration-line: none;
  display: none;
}
