.trollDiv {
  @include baseModule;

  margin-top: $standardMargin;
  margin-bottom: $standardMargin;
  margin-left: $standardMargin;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  width: $rightDivWidth;
  max-width: $rightDivMaxWidth;

  background-color: $mustard;
}

.trollImg {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.trollTextarea {
  display: inline-block;
  width: 90%;
  height: 200px;
}
