@font-face {
  font-family: BerlinSans;
  src: url("Berlin_Sans_FB_Regular.ttf");
}

body {
    font-family: "Arial";
    background-color: #aaaaaa;
    padding: 0px;
    margin: 0px;
}

h1 {
  margin: 0px;
  text-align: center;
  font-family: BerlinSans;
  color: #990000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 3em;
  letter-spacing: 1px;
  padding: 0px;
}

h2 {
  text-align: center;
  font-family: BerlinSans;
  color: #026342;
  letter-spacing: 2px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding:5px;
  margin: 0px;
}

hr {
  margin: 0px;
  height: 30px;
  border: 0px;
  background-color: #333333;
}

p {
  margin: 0px;
  padding: 10px;
}

.banner {
    height: 100px;
}

.blog {
  display: inline-block;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 15px;
  background-color: #dddddd;
}

.blogMedia {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.blogPhoto {
  height: 175px;
}

.centerDiv {
  text-align: center;
}

.footer {
  font-family: BerlinSans;
  text-align: center;
  background-color: white;
}

.titleBar {
  background-color: white;
  margin: 0px;
}
