// Colors
$mustard: #ab9e38;
$trollGreen: #026342;
$trollRed: #9c3934;
$hrGrey: #333333;
$sidebarGrey: #aaaaaa;
$blogGrey: #dddddd;

$standardMargin: 25px;

@font-face {
  font-family: BerlinSans;
  src: url("../resources/fonts/Berlin_Sans_FB_Regular.ttf");
}

body {
    font-family: "Arial";
    background-color: $mustard;
    padding: 0px;
    margin: 0px;

    h1 {
      margin: 0px;
      text-align: center;
      font-family: BerlinSans;
      color: $trollRed;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 3em;
      letter-spacing: 1px;
      padding: 0px;
    }

    h2 {
      text-align: center;
      font-family: BerlinSans;
      color: $trollGreen;
      letter-spacing: 2px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      padding:5px;
      margin: 0px;
    }

    h3 {
      font-weight: bold;
    }

    hr {
      margin: 0px;
      height: 10px;
      border: 0px;
      background-color: $hrGrey;
    }

    p {
      margin: 0px;
      padding: 10px;
    }

    .blogMedia {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }

    .centerDiv {
      text-align: center;
    }

    .footer {
      font-family: BerlinSans;
      text-align: center;
      background-color: $mustard;
    }

    .main {
      text-align: center;
      background-color: $sidebarGrey;

      .blogNavDiv {
        top: auto;
        object-position: top;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin-left: auto;
        margin-right: $standardMargin;
        margin-top: $standardMargin;
        margin-bottom: $standardMargin;
        width: 225px;
        padding: 15px;
        background-color: $mustard;
        border-radius: 20px;

        ul {
          padding: 0px;
          list-style-type: none;

          li {
            padding-top: 5px;
            padding-bottom: 5px;

            a {
              color: $trollRed;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
              letter-spacing: 1px;
              text-decoration-line: none;
            }

            a:hover {
              text-transform: uppercase;
            }
          }
        }
      }

      .blog {
        display: inline-block;
        vertical-align: top;
        border-radius: 20px;
        text-align: left;
        margin-top: $standardMargin;
        margin-bottom: $standardMargin;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-top: 30px;
        background-color: $blogGrey;
      }

      .trollDiv {
        display: inline-block;
        vertical-align: top;
        background-color: $mustard;
        border-radius: 20px;
        margin-top: $standardMargin;
        margin-bottom: $standardMargin;
        margin-left: $standardMargin;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 250px;

        .troll {
          display: inline-block;
        }

        .trollTextarea {
          display: inline-block;
          width: 200px;
          height: 200px;
        }
      }
    }

    .titleBar {
      background-color: $mustard;
      margin: 0px;

      .banner {
          margin: 0px;
          height: 100px;
      }
    }
}
